			body {
				margin: 0;
	    		padding: 0;
	    		font-family: 'Montserrat', sans-serif;
	    		overflow-x: hidden;
			}
			.flexbox {
				display: flex;
				position:relative;
			}
			.left {
				background-color: rgba(63, 119, 188, 0.75);
				width:30%;
				min-height: 100%;
				height: auto;
				float:left;
			}
			.right {
				background-color: rgb(63, 119, 188);
				min-height: 100%;
				width: 70%;
				height:auto;
				float:left;
			}
			.user-img {
			    max-width: 18%;
			    /*border-radius: 50%;*/
			    z-index: 999;
			    border: 3px solid white;
				position:absolute;
				top:30%;
				left:21%;
				box-shadow: 0 6px 12px 0 hsl(0, 8%, 34%);
			}
			.user-img:hover{
				transform:translateY(-3px);
				box-shadow: 0 8px 15px 0 hsl(0, 8%, 20%);
			}
			.card {
				background: #fff;
				max-width: 63%;
				padding: 5px;
				margin-top: 20px;
				box-shadow: 0 4px 10px 0 hsl(0, 0%, 0%);
				margin-left: 11%;
				margin-bottom: 20px;
				margin-top: 9%;
			}
			.card:hover {
				box-shadow: 0 8px 15px 0 hsl(0, 8%, 10%);
				transform:translateY(-1px);
			}
			#description{
				color:rgb(125, 106, 102);
			}
			.cta {
				padding-top: 5px;
				padding-bottom: 5px;
				margin-top: 10px;
				margin-bottom: 10px;

			}
			.intro {
				padding-left: 30px;
				padding-right: 30px;
				font-weight:100;
			}
			.intro>p {
				line-height: 25px;
			}
			.footer-social {
			    margin: 0;
			    padding: 10px 0;
			    text-align: center;
			}
			.footer-social>li {
			    display: inline-block;
			    margin: 15px 8px;
			    text-align: center;
			}
			.social {
				margin-left: -30%;
			}
			.footer-social a {
			    border: 2px solid #428bca;
			    display: inline-block;
			    font-size: 18px;
			    height: 43px;
			    line-height: normal;
			    padding-top: 8px;
			    text-align: center;
			    width: 43px;
			}
			@media(max-width:900px) {
				.user-img {
					max-width: 150px;
					margin:0 auto;
					position: relative;
					top:10;
					left:0;
					bottom: 0;
					right: 0;
				}
				.card {
						max-width: 100%;
						margin-top: 5%;
						margin-left: 0%;
				}
				.left {
					display: none;
				}
				.right {
					width: 100%;
				}
				.social {
					margin-left: -5%;
				}

			}
			@media(max-width:760px) {
				.social {
					margin-left: 0% !important;
				}
				.card {
					margin-top: 10%;
				}
			}