<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

		<!-- include compass css translation -->
		<link href="stylesheets/style.css" type="text/css" rel="stylesheet" >

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

		<!-- import icons -->
		<script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>

		<!-- Import favicons -->
		<link rel="shortcut icon" type="image/png" href="resources/favicon.png"/>

		<!-- This is your tab name, edit to what you prefer. -->
		<title>Welcome to my home</title>
	</head>
	
<!--  It is important to note any extra sections may be deleted if prefered. Be sure to test your code if you do so.  -->

	<div class="outer">
		<div class="inner">
			<section class = "gap loadanimation">
				
				<!-- Put the link to your image in the "" tags of src -->
				<img src="resources/avatar.jpg" class="avatar">
				
				<!--  Repplace Michael Dao with your name.  -->
				<h1 class="padDown">I am Michael Dao</h1>
				
				<!--  Go to the CSS sheet and replace the @keyframes spin {} section to the languages you can code in  -->
				<p>I can code <span id="spin"></span></p>
            		</section>

			<ul class="gap social">
				
				<!--  replace the href link with the link to your resume/CV  -->
				<li class="icon-resume tile"><a href= "resources/CV.pdf"><ion-icon name="document"></ion-icon><br><br>Resume</a></li>
				
				<!--  replace the href link with the link to your transcript  -->
				<li class="icon-transcript tile"><a href="resources/transcript.pdf"><ion-icon name="school"></ion-icon><br><br>Transcript</a></li>
				
				<!--  replace the href link with the link to your gitHub profile  -->
				<li class="icon-github tile"><a href="https://github.com/michaeldao"><ion-icon name="logo-github"></ion-icon><br><br>GitHub</a></li>
				
				<!--  replace the href link with the link to your linkedIn profile  -->
				<li class="icon-linkedin tile"><a href="https://www.linkedin.com/in/michaelduydao/"><ion-icon name="logo-linkedin"></ion-icon><br><br>LinkedIn</a></li>
				
				<!--  replace the href email address with your email address -->
				<li class="icon-email tile"><a href="mailto: daoduymichael@gmail.com"><ion-icon name="mail"></ion-icon><br><br>Email</a></li>
			</ul>
		</div>
	</div>
</html>
