	<html>
	<head>
		<title>Portfolio-Template</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="flexbox">
			<div class="left">
			</div>
			<div class="right">
				<div class="image-block">
					<div class="text-center">
					<img src="img/example_user.jpg" class="img-circle img-responsive user-img">
					</div>
				</div>
				<div class="container text-center main-text">
					<div class="card">
						<h1 id="name">Deepak Pathania</h1>
						<h4 id="description">Full Stack Web Developer</h4>
						<div class="center cta">
							<a class="btn btn-primary btn-lg" href="http://github.com/deepakpathania" target="_blank"><i class="fa fa-briefcase" aria-hidden="true"></i> 
		 					&nbsp;See my work</a>
						</div>
						<div class="intro">
							<p>A writer by heart, developer by will and geek by choice. I have not only worked as a freelancer developer and designer on several stand alone projects but have also done quite a few internships.
							See my resume <a href="http://deepakpathania.github.io/deepak_resume.pdf" target="_blank">here</a>.<br/>
							I was the university topper in the year 2016 and am an open source and hackathon enthusiast.
							Won 9 hackathons in 2016 and am organising <a href="http://clashhacks.tech">Clash Hacks</a> as the Chief Organiser. I love coding and debate competitions and have won quite a few.</p>
						</div>
						<div class="social center">
							<div class="container">
		                        <ul class="footer-social">
		                            <li> <a href="https://www.facebook.com/deepak.pathania.7739"><span class="fa fa-facebook"></span> </a> </li>
		                            <li> <a href="https://www.linkedin.com/in/deepak-pathania-51067610a" ><span class="fa fa-linkedin"></span> </a> </li>
		                            <li> <a href="mailto:deepakpathania789@gmail.com" class="wow zoomIn" data-wow-delay="1.1s"><span class="fa fa-envelope"></span> </a> </li>
		                            <li> <a href="http://deepakpathania.github.io"><span class="fa fa-globe"></span> </a> </li>
		                        </ul>
		                    </div>
	                	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var x = document.getElementById("name").innerHTML;
			var y = document.getElementById("description").innerHTML;
			document.title=`${x} | ${y}`;
		</script>
	</body>
	</html>