	<html>
	<head>
		<title>Portfolio-Template</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="flexbox">
			<div class="left">
			</div>
			<div class="right">
				<div class="image-block">
					<div class="text-center">
					<img src="img/user_picture.png" class="img-circle img-responsive user-img"> <!--Your picture goes here -->
					</div>
				</div>
				<div class="container text-center main-text">
					<div class="card">
						<h1 id="name">Your Name</h1> <!--Your name goes here -->
						<h4 id="description">Your Profile, say Software Engineer</h4> <!--Your profile goes here -->
						<div class="center cta">
							<a class="btn btn-primary btn-lg" href="#" target="_blank"><i class="fa fa-briefcase" aria-hidden="true"></i>  
		 					&nbsp;View my portfolio</a> <!--Your call to action goes here -->
						</div>
						<div class="intro">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis velit risus, viverra efficitur mauris condimentum id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi dictum, quam et ullamcorper scelerisque, quam libero euismod velit, sed auctor mauris risus ac quam. In aliquam ante eu quam eleifend varius et feugiat mauris. Sed ultrices placerat lorem in pellentesque. Fusce dui neque, luctus vel maximus ac, feugiat iaculis arcu. Sed rutrum, tortor ut vestibulum ullamcorper, libero ipsum bibendum tortor, in sollicitudin dolor eros vel nulla. Nulla accumsan est vitae imperdiet hendrerit. 
							</p>
						</div>
						<div class="social center">
							<div class="container">
		                        <ul class="footer-social"> <!--Your social links go here -->
		                            <li> <a href="#"><span class="fa fa-facebook"></span> </a> </li>
		                            <li> <a href="#" ><span class="fa fa-linkedin"></span> </a> </li>
		                            <li> <a href="mailto:YourIdGoesHere" class="wow zoomIn" data-wow-delay="1.1s"><span class="fa fa-envelope"></span> </a> </li>
		                            <li><a href="#"><span class="fa fa-globe"></span> </a> </li>
		                        </ul>
		                    </div>
	                	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var x = document.getElementById("name").innerHTML;
			var y = document.getElementById("description").innerHTML;
			document.title=`${x} | ${y}`;
		</script>
	</body>
	</html>